<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ALUMNI MANAGEMENT SYSTEM</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="icon" href="/static/images/mspvl.png">
</head>
<body>
     {% if messages %}
            {% for message in messages %}
            {{message}}
            {% endfor %}
    {% endif %}
    <div class="alumini">
        <header>
            <div class="header1">
                <div class="doubt">
                    <p>Have any questions?</p>
                    <p>9012345678</p>
                    <p>mspvl@mspvl.com</p>
                </div>
                <div class="admin-login">
                    <a href="{{url_for('stucontact')}}">Admin Contact</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{{url_for('admin')}}">Admin Login</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
            </div>
            <div class="header2">
                <div class="logo">
                    <h1>MSPVL <span>Alumini System</span></h1>
                </div>
                <div class="menu">
                    <a href="#">Home</a>
                    <a href="#about">About</a>
                    <a href="{{url_for('stu_gallery')}}">Gallery</a>
                    <a href="#event">Events</a>
                    <a href="{{url_for('job_approved')}}">Job Posted</a>
                    <a href="{{url_for('alumni_contact')}}">Alumni Contact</a>
                    <a href="{{url_for('course')}}">Course</a>
                </div>
            </div>
        </header>
        <section class="home">
            <div class="image">
                <img src="/static/images/alumin-2-crop.jpg" alt="">
            </div>
        </section>
        <section class="welcome" id="about">
            <div class="center">
                
            </div>
            <div class="left-content">
                <p class="left">Alumni today are the best soure of jobs, donation and Knowledge capital for you institude, so get them back by signing up for ALUMNI TODAY!!</p>
            </div>
            <div class="right-content">
                <h2><span class="text"></span></h2>
                <p>Alumni Management is the process of maintaining a strong, ongoing relationship between an institution and its former students. It involves fostering engagement through events like reunions, networking opportunities, and mentorship programs. Effective alumni management helps build a vibrant community where alumni can contribute to the growth of their alma mater, whether through donations, expertise, or volunteer efforts. Leveraging tools such as CRM systems, social media, and dedicated alumni portals, institutions can keep alumni informed, connected, and inspired to stay involved. This continuous connection not only strengthens institutional pride but also opens avenues for mutual growth and collaboration.
                </p>
            </div>
        </section>
        <section class="event" id="event">
            <div class="event-head">
                <p>Events</p>
            </div>
            <div class="event-content">
                <p>It is important to carry out a good follow-up marketing of alumini events. With over
                    100 worldwide events a year, you have a wealth of alumni networking opportunities.
                </p>
            </div>
            <div class="event-box">
                <div class="event-box">
                    {% for data in datas %}
                        <div class="event-row">
                            <span class="date">{{ data['event_date'] }} <span class="day"></span></span>
                            <span class="description"> {{ data['event_des'] }}</span>
                            <a href="{{url_for('eventdetail', sno=data['sno'])}}" class="read">Read More</a>
                        </div>
                    {% endfor %}
                </div>
                
            </div>
        </section>
        <div class="copyright">
            <div class="logos">
                <a href="#"><ion-icon name="logo-facebook"></ion-icon></a>
                <a href="#"><ion-icon name="logo-instagram"></ion-icon></a>
                <a href="#"><ion-icon name="logo-github"></ion-icon></a>
                <a href="#"><ion-icon name="logo-twitter"></ion-icon></a>
            </div>
            <div class="footer">
                <div class="contact">
                    <p class="pcontact">CONTACT</p>
                    <div class="address">
                        <p class="a">Address</p>
                        <p class="a">Main Road,</p>
                        <p class="a">Sivagamipuram</p>
                        <p class="a">Pavoorchatram-627808</p>
                        <p class="a">ph: 04633-250255,251091</p>
                        
                    </div>
                </div>
                <div class="contact">
                    <p class="pcontact">LINKS</p>
                    <div class="address">
                        <a href="#">Home</a>
                        <a href="#about">About</a>
                        <a href="{{url_for('stu_gallery')}}">Gallery</a>
                        <a href="#event">Events</a>
                        <a href="{{url_for('job_approved')}}">Job Posted</a>
                        <a href="{{url_for('alumni_contact')}}">Alumni Contact</a>
                        <a href="{{url_for('course')}}">Course</a>
                    </div>
                </div>
            </div>
            <hr>
            <p class="copy1">&copy; 2025 MSP Velayutha Nadar Lakshmithaimmal Polytechnic College | privacy Policy & Cookies; Terms of Use</p>
               
        </div>
    </div>




    <script src="/static/script.js"></script>
</body>
</html>