<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FORGOT PASSWORD</title>
    <link rel="stylesheet" href="/static/css/update-css.css">
    <link rel="icon" href="/static/images/mspvl.png">
</head>
<body>
    <div class="facebook">
        
        <div class="box">
            <div class="back">
                <a href="login-admin.html"><button type="button"><svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#5f6368"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg></button></a>
            </div>
            <div class="content">
                <p>Change the Password</p>
            </div>
            <form action="" method="">
                <div class="input">
                    <input type="text" name="forgot-admin-name" placeholder="Username" required>
                
                </div>
                <div class="pass">
                    <input type="password" name="forgot-admin-pass" placeholder="Password" required>
               
                </div>
                <div class="button">
                    <button type="submit">Change Password</button>
                </div>
                <br>
                <hr>
                <br>
                <div class="new-account">
                    <button type="button">Create new account</button>
                    
                </div>
                
            </form>
        </div>
    </div>
    
    
</body>
</html>

